<div class="form-space">
  <h3 class="title">Log In</h3>
    <%= form_for(:session, url: login_path) do |f| %>
        <div class="form-box">
          <%= f.label :email %>
          <%= f.email_field :email, {class: 'form'} %>
        </div>
        <div class="form-box">
          <%= f.label :password %>
          <%= f.password_field :password, {class: 'form'} %>
        </div>
        <%= f.submit 'login', {class: 'button'} %>
    <% end %>
  <%= link_to 'Sign Up', new_user_path %>

</div>