<footer class="footer">
  <div class="row">
    <div class="box">
      <h5>About PlayPay</h5>
      <%= image_tag 'PlayPay.png' %>
      <p>売買や決済サービス、コイン積立など新機能をどんどん追加してる成長型のビットコイン取引所です。</p>
    </div>
    <div class="box">
      <h5>Services</h5>
      <ul>
        <li><%= link_to 'ホーム', root_path %></li>
        <% if logged_in? %>
            <li><%= link_to '簡単売買', new_trade_path %></li>
        <% end %>
      </ul>
    </div>
    <div class="box">
      <h5>Information</h5>
      <ul>
        <li>手数料</li>
      </ul>
    </div>
    <div class="box">
      <h5>Legal</h5>
      <ul>
        <li><%= link_to '利用規約', legal_path %></li>
        <li><%= link_to '重要事項説明', important_things_path %></li>
        <li><%#= link_to 'プライバシーポリシー', legal_path %></li>
        <li><a href="http://manchuria.tokyo/">運営会社</a></li>
      </ul>
    </div>
    <div class="box">
      <h5>Support</h5>
      <ul>
        <li> <%= link_to '取引の前に', explanation_path %></li>
        <li><%#= link_to 'よくあるご質問', qa_path %></li>
        <li><%= link_to 'お問い合わせ', support_path %></li>
        <% if logged_in? %>
            <% if current_user.admin_user? %>
                <li><%= link_to '管理者ページ', admin_top_path %></li>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</footer>