<div class="field">
  <div class="top-container" style="background-image:url(<%= asset_path "S__23396408.jpg" %>)">
    <h3 class="wrap-title">HELLO ＆ WELCOME</h3>
    <div class="content">
      <div class="left-content">
        <p class="mini-title">ビットコイン 取引手数料</p>
        <h1 class="catch-1">マイナス 0.01%!</h1>
        <p class="explain">BTCmaker手数料が、期間限定でマイナス0.05%にさらに引き下げ！
          ボーナスが5倍に拡大！<br>
          <span>取扱通貨 BTC・XEM・MONA・JPY 他多数</span></p>
      </div>
      <div class="right-content">
        <h4 class="catch">メールアドレス入力で簡単登録！</h4>
        <%= link_to new_user_path, {class: 'link'} do %>
            <button class="submit">無料登録へ</button>
        <% end %>
      </div>
    </div>
    <div class="chart"></div>
  </div>
  <div class="first-band"></div>
  <div class="middle-container">
    <p class="middle-catch">資産運用なら今話題の仮想通貨で</p>
    <h3 class="middle-title">Our services</h3>
    <div class="upper">
      <div class="block">
        <i></i>
        <div class="content">
          <a class="word">取引所</a>
          <p class="explain">ユーザー間でビットコイン、ネム、モナコインのお取引が行えます。変動に応じた、注文を出すことで利益を上げられます。トレーダー向けのサービスです。
          </p>
        </div>
      </div>
      <div class="block">
        <i></i>
        <div class="content">
          <a class="word">取引所</a>
          <p class="explain">ユーザー間でビットコイン、ネム、モナコインのお取引が行えます。変動に応じた、注文を出すことで利益を上げられます。トレーダー向けのサービスです。
          </p>
        </div>
      </div>
      <div class="block">
        <i></i>
        <div class="content">
          <a class="word">取引所</a>
          <p class="explain">ユーザー間でビットコイン、ネム、モナコインのお取引が行えます。変動に応じた、注文を出すことで利益を上げられます。トレーダー向けのサービスです。
          </p>
        </div>
      </div>
    </div>
    <div class="upper">
      <div class="block">
        <i></i>
        <div class="content">
          <a class="word">取引所</a>
          <p class="explain">ユーザー間でビットコイン、ネム、モナコインのお取引が行えます。変動に応じた、注文を出すことで利益を上げられます。トレーダー向けのサービスです。
          </p>
        </div>
      </div>
      <div class="block">
        <i></i>
        <div class="content">
          <a class="word">取引所</a>
          <p class="explain">ユーザー間でビットコイン、ネム、モナコインのお取引が行えます。変動に応じた、注文を出すことで利益を上げられます。トレーダー向けのサービスです。
          </p>
        </div>
      </div>
    </div>

  </div>
  <div class="second-band">
    <%= image_tag 'back2.png' %>
    <div class="content">
      <h1>登録までの<span>簡単３ステップ</span></h1>
      <div class="steps">
        <div class="step">
          <%= image_tag 'mail-icon.png', {class: 'mail'} %>
          <h4>①メールアドレス入力</h4>
        </div>
        <div class="step">
          <%= image_tag 'pc-icon.png', {class: 'pc'} %>
          <h4>②メールのURLにアクセス</h4>
        </div>
        <div class="step">
          <%= image_tag 'pencil-icon.png', {class: 'pencil'} %>
          <h4>③基本情報登録</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="lower-container">
    <p class="top-text">PlayPayの提供するサービスで、初心者の方でも安心・安全に<br>
      ビットコインなどの仮想通貨を売買できます。</p>
    <div class="box-space">
      <div class="box">
        <div class="inner">
          <%= image_tag 'bank.png' %>
          <div class="content">
            <h4>総額1億円キャンペーン</h4>
            <button class="button">無料登録へ</button>
            <p>出来高が増えるほど報酬額も増える！出来高ランキングキャンペーンを毎日開催！対象取引はBTC、AirFX、先物、ETH</p>
          </div>
        </div>

      </div>
      <div class="box">
        <div class="inner">
          <%= image_tag 'bank.png' %>
          <div class="content">
            <h4>総額1億円キャンペーン</h4>
            <button class="button">無料登録へ</button>
            <p>出来高が増えるほど報酬額も増える！出来高ランキングキャンペーンを毎日開催！対象取引はBTC、AirFX、先物、ETH</p>

          </div>
        </div>
      </div>
      <div class="box">
        <div class="inner">
          <%= image_tag 'bank.png' %>
          <div class="content">
            <h4>総額1億円キャンペーン</h4>
            <button class="button">無料登録へ</button>
            <p>出来高が増えるほど報酬額も増える！出来高ランキングキャンペーンを毎日開催！対象取引はBTC、AirFX、先物、ETH</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tool-contain">
    <p class="catch">取引に役立つ機能も充実！</p>
    <h3 class="main-title">TRADERs TOOL</h3>
    <div class="row">
      <div class="box">
        <h4>高機能チャート</h4>
        <p>ロウソク足、日足、時足、秒足など細かくチャートが見ることができ、平均線やボリンジャーバンドなどのテクニカルも利用することができます。</p>
      </div>
      <div class="box">
        <h4>高機能チャート</h4>
        <p>ロウソク足、日足、時足、秒足など細かくチャートが見ることができ、平均線やボリンジャーバンドなどのテクニカルも利用することができます。</p>
      </div>
      <div class="box">
        <h4>高機能チャート</h4>
        <p>ロウソク足、日足、時足、秒足など細かくチャートが見ることができ、平均線やボリンジャーバンドなどのテクニカルも利用することができます。</p>
      </div>
      <div class="box">
        <h4>高機能チャート</h4>
        <p>ロウソク足、日足、時足、秒足など細かくチャートが見ることができ、平均線やボリンジャーバンドなどのテクニカルも利用することができます。</p>
      </div>
    </div>
    <button class="button">無料登録へ</button>
  </div>

  <div class="news-contain">
    <p class="catch">PlayPayの最新情報をお届け</p>
    <h3 class="main-title">PlayPay News</h3>
    <div class="news-box">
      <div class="label-box">PlayPayからのお知らせ</div>
      <div class="title-box">
        <p>2018/03/16 19:16:13</p>
        <a>Zaif Exchange利用規約及び、重要事項説明一部変更のお知らせ</a>
      </div>
    </div>
    <div class="news-box">
      <div class="label-box">PlayPayからのお知らせ</div>
      <div class="title-box">
        <p>2018/03/16 19:16:13</p>
        <a>Zaif Exchange利用規約及び、重要事項説明一部変更のお知らせ</a>
      </div>
    </div>
    <div class="news-box">
      <div class="label-box">PlayPayからのお知らせ</div>
      <div class="title-box">
        <p>2018/03/16 19:16:13</p>
        <a>Zaif Exchange利用規約及び、重要事項説明一部変更のお知らせ</a>
      </div>
    </div>
  </div>
</div>



