<div class="field">
  <div class="top-container" style="background-image:url(<%= asset_path "S__23396408.jpg" %>)">
    <h3 class="wrap-title">HELLO ＆ WELCOME</h3>
    <div class="content">
      <div class="left-content">
        <p class="mini-title">プレイコイン 取引手数料</p>
        <h1 class="catch-1">マイナス 0.01%!</h1>
        <p class="explain">PCmaker手数料が、期間限定でマイナス0.05%にさらに引き下げ！
          国際送金がかなり有利に<br>
          <span>取扱通貨 USD,JPY,HKD,RMB 他多数</span></p>
      </div>
      <div class="right-content">
        <h4 class="catch">メールアドレス入力で簡単登録！</h4>
        <%= link_to new_user_path, {class: 'link'} do %>
            <button class="submit">無料登録へ</button>
        <% end %>
      </div>
    </div>

    <div class="chart">
      <div class="block">
        <p>$0.941194</p>
        <p class="red">USD/JPY</p>
        <p class="red">↓0.2%</p>
      </div>
      <div class="block">
        <p> E0.763496</p>
        <p class="blue">EU/JPY</p>
        <p class="blue"> ↑0.025% </p>
      </div>
      <div class="block">
        <p>HK$7.385835</p>
        <p class="red"> HKD/JPY</p>
        <p class="red"> ↓0.33% </p>
      </div>
      <div class="block">
        <p>NT$27.267337</p>
        <p class="blue">NTD/JPY </p>
        <p class="blue">↑0.3% </p>
      </div>
      <div class="block">
        <p>¥5.903636 </p>
        <p class="blue">RMB/JPY </p>
        <p class="blue">↑0.025% </p>
      </div>
      <div class="block">
        <p> $1.224061
        </p>
        <p class="blue">AUD/JPY
        </p>
        <p class="blue">↑0.025%</p>
      </div>
      <div class="block">
        <p>W 997.430208</p>
        <p class="red">KRW/JPY</p>
        <p class="red"> ↓3%</p>
      </div>
      <div class="block">
        <p>$1.29894</p>
        <p class="red">NZD/JPY  </p>
        <p class="red"> ↓2% </p>
      </div>
      <div class="block">
        <p>$0.941194</p>
        <p class="red">USD/JPY</p>
        <p class="red">↓0.2%</pclass>
      </div>
      <div class="block">
        <p>$1,234009</p>
        <p class="red">SGD/JPY</p>
        <p class="red">↓0.002%</p>
      </div>
      <div class="block">
        <p> р53.761951 </p>
        <p class="red"> RUB/JPY     </p>
        <p class="red">↓6%  </p>
      </div>
      <div class="block">
        <p>$17.081707</p>
        <p class="blue">MXN/JPY</p>
        <p class="blue">↑0.078%</p>
      </div>
    </div>

  </div>
  <div class="first-band"></div>
  <div class="middle-container">
    <p class="middle-catch">資産運用なら今話題の仮想通貨で</p>
    <h3 class="middle-title">Our services</h3>
    <div class="upper">
      <div class="block">
        <i></i>
        <div class="content">
          <a class="word">取引所</a>
          <p class="explain">ユーザー間でプレイコインのお取引が行えます。変動に応じた、注文を出すことで利益を上げられます。トレーダー向けのサービスです。
          </p>
        </div>
      </div>
      <div class="block">
        <i></i>
        <div class="content">
          <a class="word">簡単売買</a>
          <p class="explain">簡単にプレイコインを売買出来ます。初心者の方や、直ぐに売買したい人向けのサービスです。
          </p>
        </div>
      </div>
      <div class="block">
        <i></i>
        <div class="content">
          <a class="word">コイン積立</a>
          <p class="explain">月々一定額を銀行から自動引き落としをして、コインを自動購入していくサービスです。安定した長期運用成果が期待できます。
          </p>
        </div>
      </div>
    </div>
    <!--
    <div class="upper">
      <div class="block">
        <i></i>
        <div class="content">
          <a class="word">Payca</a>
          <p class="explain">Paycaとは、ブロックチェーン技術を用いた仮想通貨やトークンの発行支援サービスです。
          </p>
        </div>
      </div>
      <div class="block">
        <i></i>
        <div class="content">
          <a class="word"></a>
          <p class="explain">ユーザー間でビットコイン、ネム、モナコインのお取引が行えます。変動に応じた、注文を出すことで利益を上げられます。トレーダー向けのサービスです。
          </p>
        </div>
      </div>
    </div>
-->
  </div>
  <div class="second-band">
    <%= image_tag 'back2.png' %>
    <div class="content">
      <h1>登録までの<span>簡単３ステップ</span></h1>
      <div class="steps">
        <div class="step">
          <%= image_tag 'mail-icon.png', {class: 'mail'} %>
          <h4>①メールアドレス入力</h4>
        </div>
        <div class="step">
          <%= image_tag 'pc-icon.png', {class: 'pc'} %>
          <h4>②メールのURLにアクセス</h4>
        </div>
        <div class="step">
          <%= image_tag 'pencil-icon.png', {class: 'pencil'} %>
          <h4>③基本情報登録</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="lower-container">
    <p class="top-text">PlayPayの提供するサービスで、初心者の方でも安心・安全に<br>
      プレイコインなどの仮想通貨を売買できます。</p>
    <div class="box-space">
      <div class="box">
        <div class="inner">
          <%= image_tag 'bank.png' %>
          <div class="content">
            <h4>総額1億円キャンペーン</h4>
            <%= link_to new_user_path, {class: 'link'} do %>
                <button class="submit">無料登録へ</button>
            <% end %>
            <p>出来高が増えるほど報酬額も増える！出来高ランキングキャンペーンを毎日開催！対象取引はPC</p>
          </div>
        </div>

      </div>
      <div class="box">
        <div class="inner">
          <%= image_tag 'rev.png' %>
          <div class="content">
            <h4>信用取引レバレッジ</h4>
            <%= link_to new_user_path, {class: 'link'} do %>
                <button class="submit">無料登録へ</button>
            <% end %>
            <p>最大7.77倍のレバレッジ取引が開始。トレードスタイルに合わせてレバレッジ倍率も選択可能！</p>

          </div>
        </div>
      </div>
      <div class="box">
        <div class="inner">
          <%= image_tag 'PlayPayment.png' %>
          <div class="content">
            <h4>総額1億円キャンペーン</h4>
            <%= link_to new_user_path, {class: 'link'} do %>
                <button class="submit">無料登録へ</button>
            <% end %>
            <p>プレイコイン支払を簡単に実現できる決済サービスです。商品購入に支払った暗号通貨は、円に換金してお振込みをします。決済手数料はゼロです。</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tool-contain">
    <p class="catch">取引に役立つ機能も充実！</p>
    <h3 class="main-title">TRADERs TOOL</h3>
    <div class="row">
      <div class="box">
        <h4>高機能チャート</h4>
        <p>ロウソク足、日足、時足、秒足など細かくチャートが見ることができ、平均線やボリンジャーバンドなどのテクニカルも利用することができます。</p>
      </div>
      <div class="box">
        <h4>通知機能</h4>
        <p>設定した価格になるとお知らせしてくれる通知機能や、売買が成立したときにお知らせしてくれる通知機能があります。売り時買い時を逃しません。 </p>
      </div>
      <div class="box">
        <h4>信用取引</h4>
        <p>日本円を証拠金として仮想通貨を借り、信用取引を行うことが出来ます。レバレッジは1～7.77倍でご自身のお取引に応じて貸付が可能ですので、初めて信用取引する方も安心してご利用いただけます。</p>
      </div>
      <div class="box">
        <h4>二段階認証</h4>
        <p>ログインパスワードの他に、ワンタイムパスワードを生成する認証アプリをインストールしたスマートフォンを利用して行う二段階認証を利用することができます。お取引と口座の管理・入出金のセキュリティをより高めることが出来ます。</p>
      </div>
    </div>
    <%= link_to new_user_path, {class: 'link'} do %>
        <button class="submit">無料登録へ</button>
    <% end %>
  </div>

  <div class="news-contain">
    <p class="catch">PlayPayの最新情報をお届け</p>
    <h3 class="main-title">PlayPay News</h3>
    <div class="news-box">
      <div class="label-box">PlayPayからのお知らせ</div>
      <div class="title-box">
        <p>2018/03/30 11:46:43</p>
        <a>利用規約及び、重要事項説明一部変更のお知らせ</a>
      </div>
    </div>
    <div class="news-box">
      <div class="label-box">PlayPayからのお知らせ</div>
      <div class="title-box">
        <p>2018/03/20 21:01:10</p>
        <a>「取引の前に」ページ公開</a>
      </div>
    </div>
    <div class="news-box">
      <div class="label-box">PlayPayからのお知らせ</div>
      <div class="title-box">
        <p>2018/03/16 19:16:13</p>
        <a>β版公開</a>
      </div>
    </div>
  </div>
</div>



