<div class="user-index">
<h1>リスト</h1>
  <table class="table">
    <tr>
      <th>名前</th>
      <th>所持PC</th>
      <th>MetaMask address</th>
      <th>住所</th>
      <th>最新の申請</th>
      <th>数量</th>
    </tr>
    <% User.all.each do |user| %>
        <tr>
          <td><%=user.name %></td>
          <td><a href="https://ropsten.etherscan.io/token/0x6c123c0029a6dd4d0c4a53f556611c665d886011?a=<%= user.meta_address %>">確認</a></td>
          <td><%= user.meta_address %></td>
          <td></td>
          <td><%= user.trades.order(:id).last.try(:kind) %><%= user.trades.order(:id).last.try(:amount) %> </td>
          <td></td>
        </tr>
    <% end %>
  </table>
</div>