<div class="explanation">
  <h3 style="color:red;">現在試験運転中です。</h3>
  <h2 class="title">Account</h2>
  <table class="table">
    <tr>
      <th>name</th>
      <th>email</th>
      <th>MetaMask Address</th>
      <th>total amount</th>
    </tr>
    <tr>
      <td><%= @user.name %></td>
      <td><%= @user.email %></td>
      <td><%= @user.meta_address %></td>
      <td><%= @user.balance %></td>
    </tr>
  </table>
  <%= link_to 'ユーザー情報編集', edit_user_path(@user) %>

  <h4 class="title">Now Trading</h4>
  <table class="table">
    <tr>
      <th>date</th>
      <th>amount</th>
      <th>buy or sell</th>
    </tr>
    <% @valid_trades.each do |trade| %>
        <tr>
          <td><%= trade.created_at.strftime('%Y/%m/%d') %></td>
          <td><%= trade.amount %> PC</td>
          <% if trade.kind == 0 %>
              <td>購入</td>
          <% elsif trade.kind == 1 %>
              <td>売却</td>
          <% end %>
        </tr>
    <% end %>
  </table>

  <h4 class="title">Trade History</h4>
  <table class="table">
    <tr>
      <th>date</th>
      <th>amount</th>
      <th>buy or sell</th>
    </tr>
    <% @done_trades.each do |trade| %>
        <tr>
          <td><%= trade.created_at.strftime('%Y/%m/%d') %></td>
          <td><%= trade.amount %> PC</td>
          <% if trade.kind == 0 %>
              <td>購入</td>
          <% elsif trade.kind == 1 %>
              <td>売却</td>
          <% end %>
        </tr>
    <% end %>
  </table>

  <h4 class="title">How to get Token</h4>
  <div class="how-to-get">
  <ul>
    <li><%= link_to '簡単売買', new_trade_path %>にてトークン購入の申請をしてください</li>
    <li>申請が受理されるまでお待ち下さい。（受理された取引はTrade History に記載されます）</li>
    <li>Google Chrome の Meta Maskを開き、Tokens タブ の ADD TOKENS をクリックしてください</li>
    <%= image_tag 'add_token_display.png' %>
    <li>Token Contract Address のフォームに以下のコントラクトアドレスを入力し、Add をクリックしてください<br>
      Contract Address: 0x6c123c0029a6dd4d0c4a53f556611c665d886011 </li>
    <%= image_tag 'token_contract_form_disp.png' %>
  </ul>
    <p>以上で操作は完了です。トークンが付与されていることをご確認ください。<br>
    （ 3,4の操作は初回取引のみ必要となります ）<br>
    （ * 現在試験運転中のため無料でトークンは付与されますが、本来は現金との交換になります。 ）</p>
  </div>

</div>