<div class="form-space">
  <h3 class="title">ユーザー登録</h3>
  <%= form_for(@user) do |f| %>
      <div class="form-box">
        <label class="form-label">お名前</label>
        <%= f.text_field :name, {class: 'form'} %>
      </div>
      <div class="form-box">
        <label class="form-label">メールアドレス</label>
        <%= f.email_field :email, {class: 'form'} %>
      </div>
      <div class="form-box">
        <label class="form-label">MetaMaskアドレス</label>
        <%= f.text_field :meta_address, {class: 'form'} %>
      </div>
      <div class="form-box">
        <label class="form-label">パスワード</label>
        <%= f.password_field :password, {class: 'form'} %>
      </div>
      <%= f.submit '登録', {class: 'button'} %>
  <% end %>
</div>