<div class="user-index">
  <h2 class="title">顧客リスト</h2>
  <table class="table">
    <tr>
      <th>名前</th>
      <th>所持PC</th>
      <th>MetaMask address</th>
      <th>Email</th>
      <th>申請待ち</th>
      <th>削除</th>
    </tr>
    <% User.all.each do |user| %>
        <tr>
          <td><%= link_to user.name, user_path(user.id) %></td>
          <td>
            <a href="https://ropsten.etherscan.io/token/0x6c123c0029a6dd4d0c4a53f556611c665d886011?a=<%= user.meta_address %>">確認</a>
          </td>
          <td><%= user.meta_address %></td>
          <td><%= user.email %></td>
          <% if user.trades.order(:id).last.try(:kind)==1 %>
              <td class="warn-wait">有</td>
          <% else %>
              <td class="blue">無</td>
          <% end %>
          <td><%= link_to 'Destroy', user, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>w
    <% end %>
  </table>
</div>